name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.20

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Get dependencies
      run: |
        go get -v -t -d ./...

    - name: Test
      run: go test -v .

    - name: Build linux/amd64
      run: GOOS=linux GOARCH=amd64 go build -v -o hpsdrconnector_linux_amd64

    - name: Build MacOS
      run: GOOS=darwin GOARCH=amd64 go build -v -o hpsdrconnector_macos_amd64

    - name: Build linux/arm
      run: GOOS=linux GOARCH=arm go build -v -o hpsdrconnector_linux_arm

    - name: Build linux/arm64
      run: GOOS=linux GOARCH=arm64 go build -v -o hpsdrconnector_linux_arm64

    - id: new_version
      uses: paulhatch/semantic-version@v3
      with:
        branch: "master"
        tag_prefix: "v"
        # A string which, if present in a git commit, indicates that a change represents a
        # major (breaking) change
        major_pattern: "(MAJOR)"
        # Same as above except indicating a minor change
        minor_pattern: "(minor)"
        # A string to determine the format of the version output
        format: "${major}.${minor}.${patch}"

    - name: Setup package directory
      run: |
        mkdir -p .debpkg/usr/bin
        cp hpsdrconnector_linux_amd64 .debpkg/usr/bin/hpsdrconnector
        chmod +x .debpkg/usr/bin/hpsdrconnector

    - name: Build amd64 deb
      uses: jiro4989/build-deb-action@v2
      with:
        package: hpsdrconnector
        package_root: .debpkg
        maintainer: Jim Ancona <jim@anconafamily.com>
        version:  ${{ steps.new_version.outputs.version }}
        arch: 'amd64'
        desc: 'OpenWebRX connector for HPSDR radios'

    - name: Update package directory for arm
      run: |
        cp hpsdrconnector_linux_arm .debpkg/usr/bin/hpsdrconnector
        chmod +x .debpkg/usr/bin/hpsdrconnector

    - name: Build armhf deb
      uses: jiro4989/build-deb-action@v2
      with:
        package: hpsdrconnector
        package_root: .debpkg
        maintainer: Jim Ancona <jim@anconafamily.com>
        version:  ${{ steps.new_version.outputs.version }}
        arch: 'armhf'
        desc: 'OpenWebRX connector for HPSDR radios'

    - name: Update package directory for arm64
      run: |
        cp hpsdrconnector_linux_arm64 .debpkg/usr/bin/hpsdrconnector
        chmod +x .debpkg/usr/bin/hpsdrconnector

    - name: Build arm64 deb
      uses: jiro4989/build-deb-action@v2
      with:
        package: hpsdrconnector
        package_root: .debpkg
        maintainer: Jim Ancona <jim@anconafamily.com>
        version:  ${{ steps.new_version.outputs.version }}
        arch: 'arm64'
        desc: 'OpenWebRX connector for HPSDR radios'

    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: v${{ steps.new_version.outputs.version }}
        release_name: Release v${{ steps.new_version.outputs.version }}
        draft: false
        prerelease: false

    - name: Upload Linux/amd64 Release Asset
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./hpsdrconnector_linux_amd64
        asset_name: hpsdrconnector_linux_amd64
        asset_content_type: application/octet-stream
    - name: Upload MacOS/amd64 Release Asset
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./hpsdrconnector_macos_amd64
        asset_name: hpsdrconnector_macos_amd64
        asset_content_type: application/octet-stream
    - name: Upload Linux/arm Release Asset
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./hpsdrconnector_linux_arm
        asset_name: hpsdrconnector_linux_arm
        asset_content_type: application/octet-stream
    - name: Upload Linux/arm64 Release Asset
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./hpsdrconnector_linux_arm64
        asset_name: hpsdrconnector_linux_arm64
        asset_content_type: application/octet-stream
    - name: Upload amd64 deb
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./hpsdrconnector_${{ steps.new_version.outputs.version }}_amd64.deb
        asset_name: hpsdrconnector_${{ steps.new_version.outputs.version }}_amd64.deb
        asset_content_type: application/octet-stream
    - name: Upload armhf deb
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./hpsdrconnector_${{ steps.new_version.outputs.version }}_armhf.deb
        asset_name: hpsdrconnector_${{ steps.new_version.outputs.version }}_armhf.deb
        asset_content_type: application/octet-stream
    - name: Upload arm64 deb
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./hpsdrconnector_${{ steps.new_version.outputs.version }}_arm64.deb
        asset_name: hpsdrconnector_${{ steps.new_version.outputs.version }}_arm64.deb
        asset_content_type: application/octet-stream
